[submodule "PUTM_EV_CAN_LIBRARY_2024"]
	path = firmware/Components/PUTM_EV_CAN_LIBRARY_2024
	url = git@github.com:PUT-Motorsport/PUTM_EV_CAN_LIBRARY_2024.git
[submodule "ArduinoJson"]
	path = firmware/Components/ArduinoJson
	url = git@github.com:bblanchon/ArduinoJson.git
